## Ignorar el archivo de salida principal
**/*.pdf

## Archivos auxiliares de LaTeX (Motores: pdfLaTeX, XeLaTeX, LuaLaTeX)
*.aux
*.log
*.toc
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdfsync

## Archivos de bibliografía (BibLaTeX / Biber)
*.bbl
*.blg
*.run.xml
*.bcf

## Archivos de índices y glosarios
*.glo
*.idx
*.ist
*.ilg
*.ind

## Temporales de editores (Neovim / Vim / Backup)
*.swp
*~
.netrwhist

*.xdv
*.zip
paser

.staff
